/* 
Custom CSS for Alquilook
by Museographia Espacios Expositivos
*/

/* 
    Colores:
    #e51e50 blooming magenta
	#ef501e  coral sands 
*/


/*--------------------------------------------------------------------------------------------------------------------------Textos--------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

@font-face {
	font-family: 'Bariol-Light';
	src: url('fonts/Bariol-Light.eot?') format('eot'), 
	     url('fonts/Bariol-Light.otf')  format('opentype'),
	     url('fonts/Bariol-Light.woff') format('woff'), 
	     url('fonts/Bariol-Light.ttf')  format('truetype'),
	     url('fonts/Bariol-Light.svg#Bariol-Light') format('svg');
}

@font-face {
	font-family: 'Bariol-Regular';
	src: url('fonts/Bariol-Regular.eot?') format('eot'), 
	     url('fonts/Bariol-Regular.otf')  format('opentype'),
	     url('fonts/Bariol-Regular.woff') format('woff'), 
	     url('fonts/Bariol-Regular.ttf')  format('truetype'),
	     url('fonts/Bariol-Regular.svg#Bariol-Regular') format('svg');
}


@font-face {
	font-family: 'RobotoSlab-Thin';
	src: url('fonts/RobotoSlab-Thin.eot?') format('eot'), 
	     url('fonts/RobotoSlab-Thin.woff') format('woff'), 
	     url('fonts/RobotoSlab-Thin.ttf')  format('truetype'),
	     url('fonts/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg');
}

h1{
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:3em;
	text-transform:uppercase;	
	}

h2{
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2em;	
	}
	
h3{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2em;
	}
	
h4{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.3em;
	}
	
h5{
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.2em;
	}		

h6{
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	}	

h2.banner{
	color:#FFFFFF;
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2em;	
	}

h3.banner{
	color:#FFFFFF;
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2em;
	}
	
h5.banner{
	color:#FFFFFF;
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.5em;
	}

.footer{
	color:#FFF;
	font-size:0.95em;
	font-family: 'Bariol-Regular', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important; 
	}	
	

.videoh1{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:5em;
	line-height:45px;
	text-transform:none;
	color:#e51e50;
}

.videoh2{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2em;
	line-height:30px;
	text-transform:none;
}

.videop{
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.3em;
	line-height:10px;
	text-transform:none;
}


ul li.menu{
	text-transform:uppercase;	
	font-family: 'Bariol-Regular', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important; 
	font-size:1.1em;
	}
	
p.ficha{
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	line-height:14px;
	text-transform:none;
}	

p.ficha2{
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	line-height:14px;
	text-transform:none;
	padding: 5px;
}	


/*---------------------------------------------------------------------------------------------------------------------------------------------------------Links--------------------*/
a.enlace{
    color:#e51e50; /* blooming magenta */
   	opacity: 1.0;
	filter:alpha(opacity=100);	
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: color 0.3s linear 0s;	
	   -moz-transition: color 0.3s linear 0s;
		 -o-transition: color 0.3s linear 0s;
		    transition: color 0.3s linear 0s;
}

a.enlace:hover,
a.enlace:active,
a.enlace:focus{
	color:#e51e50; /* coral sands */
	opacity: 0.8;
	filter:alpha(opacity=80);		
	outline: 0;
	text-decoration:none;

}

a.enlace2{
	color:#000000;
   	opacity: 1.0;
	filter:alpha(opacity=100);	
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: color 0.3s linear 0s;	
	   -moz-transition: color 0.3s linear 0s;
		 -o-transition: color 0.3s linear 0s;
		    transition: color 0.3s linear 0s;
}

a.enlace2:hover,
a.enlace2:active,
a.enlace2:focus{
	color:#000000;
	opacity: 0.8;
	filter:alpha(opacity=80);		
	outline: 0;
	text-decoration:none;

}

a.enlaceblanco{
	color:#ffffff;
	text-decoration: none;
	cursor: pointer;
	opacity:1;
	
	-webkit-transition: color 0.3s linear 0s;	
	   -moz-transition: color 0.3s linear 0s;
		 -o-transition: color 0.3s linear 0s;
		    transition: color 0.3s linear 0s;
}
	
a.enlaceblanco:hover,
a.enlaceblanco:active,
a.enlaceblanco:focus{
	color:#ffffff;
	outline: 0;
	text-decoration:none;
	opacity:0.80;

}

a.imagenboton,
a.imagenboton2{
	opacity: 1.0;
	filter:alpha(opacity=100);

}

a.imagenboton:hover,
a.imagenboton:active,
a.imagenboton:focus,
a.imagenboton2:hover,
a.imagenboton2:active,
a.imagenboton2:focus{
	opacity: 0.90;
	filter:alpha(opacity=90);	
}

ul{
	list-style:none;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------Colores--------------------*/
.red { background-color: #e74c3c; color:#FFFFFF;}
.red2 {  background-color: #c0392b; color:#FFFFFF;}
.blue {  background-color: #3498db; color:#FFFFFF;}
.blue2 {  background-color: #2980b9; color:#FFFFFF;}
.green {  background-color: #2ecc71; color:#FFFFFF;}
.green2 {  background-color: #27ae60; color:#FFFFFF;}
.yellow {  background-color: #f1c40f; color:#FFFFFF;}
.yellow2 {  background-color: #f39c12; color:#FFFFFF;}
.orange {  background-color: #e67e22; color:#FFFFFF;}
.orange2 {  background-color: #d35400; color:#FFFFFF;}
.teal {  background-color: #1abc9c; color:#FFFFFF;}
.teal2 {  background-color: #16a085; color:#FFFFFF;}
.purple {  background-color: #9b59b6; color:#FFFFFF;}
.purple2 {  background-color: #8e44ad; color:#FFFFFF;}
.steel-grey {  background-color: #34495e; color:#FFFFFF;}
.steel-grey2 {  background-color: #2c3e50; color:#FFFFFF;}

.negro{
	color:#000000 !important;
}


.magenta{
	color:#e51e50 !important;
}

.magenta-bg{
	background-color: #e51e50;
	color:#FFFFFF;
}

.coral{
	color:#ef501e !important;
}

.coral-bg{
	background-color: #ef501e;
	color:#FFFFFF;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------Otros--------------------*/

body,html{
 height:100%;
}

p.mobiliario{
	line-height:25px;
}

.lineaabajo{
	padding:5px 0 0 0;
	border-bottom: #c8c8c8 dashed 1px;

	}
	
	
}

.selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 10px;
    -moz-padding-end:10px;
    -webkit-padding-start:10px;
    -moz-padding-start: 10px;
    border: 1px #e51e50 solid;
    color: #e51e50;
	
}


.portatil{
   z-index: -1;
   position:relative;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.video{
   z-index:1;
   position:absolute;
	top:5%;
	left:17%;
   width:66%;
   height:75%;
}

hr.propietario{
	color: #e51e50;
	background-color:#e51e50;
	height: 1px;
	width:100%;
}

hr.inquilino{
	color: #ef501e;
	background-color: #ef501e;
	height: 1px;
	width:100%;
}

hr.grissimple{
	border: 0; 
	height: 1px; 
	border-top: 1px dashed #c8c8c8;  
	width:100%;
	margin:3px;
	}
	
hr.grisdoble {
	border: 0; 
	height: 2px; 
	border-top: 1px dashed #c8c8c8; 
	border-bottom: 1px dashed #c8c8c8;
	width:100%;
	margin:3px;
	}


hr{
	color: #FFFFFF;
	background-color: #FFFFFF;
	height: 1px;
	width: 50%;
}

html, body {
  height: 100%;
}

body {
  padding-top: 100px;
  font-family:'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.logo{
	width: 225px;
}

.login{
	padding:10px;
}

.imagen{
	width: 150px;
}

.imagenbanner{
	width: 125px;
	float: left !important;
}

.imagenbanner2{
	width: 75px;
}

.imagenboton{
	width: 75px;
}

.imagenboton2{
	width: 50px;
}

.imagenboton3{
	height:50px;
}


.fondogris{
	background-color: #f5f5f5;
	padding:10px;
	border-bottom: 10px solid #FFFFFF; 
}

.tab-pane {
  margin-top: 10px;
  color:#FFFFFF;
}




/* Page Sections */
.section{
  padding: 0 0;
}

.section-colored {
	padding: 5px 0 0 0;
}


.section-pie {
  padding: 30px 0;
}  


.carousel {
  height:50%;
}


.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------Móviles-----------*/
@media (max-width: 767px) {

.iconosmovil{
	padding:10px 0;
	
}
	
	
p.ficha{
	text-align:left;
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:0.8em;
	line-height:12px;
	text-transform:none;
}		

p.ficha2{
	text-align:left;
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:0.8em;
	line-height:12px;
	text-transform:none;
	padding: 5px;
}	
	
.imagen{
	width: 100px;
}

.imagenbanner{
	width: 100px;
	float: left !important;
}

.imagenbanner2{
	width: 40px;
}

.imagenboton{
	width: 55px;
}

.imagenboton2{
	width: 45px;
}



.carousel {
    height: 50%;
  }
  
h2.banner{
	color:#FFFFFF;
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.3em;	
	}
  
h3.banner{
	color:#FFFFFF;
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.3em;
	}
	
h5.banner{
	color:#FFFFFF;
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.2em;
	}  
  
  
h1{
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:2.1em;
	text-transform:uppercase;	
	}
	
h2{
	font-family: 'Bariol-Light', 'Varela Round', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.5em;
	text-transform:uppercase;	
	}
	
h3{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1.3em;
	}
	
h4{
	font-family: 'RobotoSlab-Thin', 'Roboto Slab',"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	}	
	
h5{
	font-family:'Lato',  "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	}	

h5.columnapropietario{
	color:#e51e50 ;
	font-family:'Lato',  "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:1em;
	}	

h6.columnapropietario{
	color:#e51e50 ;
	font-family: 'Lato', "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size:0.9em;
	}	


}
